In [1]:
import pandas as pd
import numpy as np

In [2]:
# This dataset is not included in github and can be found here: 
# https://www.kaggle.com/datasets/fabioturazzi/cryptocurrency-tweets-with-sentiment-analysis
tweets = pd.read_csv("tweets_sentiment.csv")

/Users/davidhackett/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
tweets.dtypes

Unnamed: 0           int64
id                 float64
conversation_id    float64
created_at          object
date                object
time                object
timezone             int64
user_id            float64
username            object
name                object
place               object
tweet               object
language            object
mentions            object
urls                object
photos              object
replies_count        int64
retweets_count       int64
likes_count          int64
hashtags            object
cashtags            object
link                object
retweet               bool
quote_url           object
video                int64
thumbnail           object
near               float64
geo                float64
source             float64
user_rt_id         float64
user_rt            float64
retweet_id         float64
reply_to            object
retweet_date       float64
translate          float64
trans_src          float64
trans_dest         float64
search              object
decoded_tweet       object
neg                float64
neu                float64
pos                float64
compound           float64
dtype: object

In [4]:
# eliminate unnecessary fields
tweets_filtered = tweets[['date', 'mentions', 'replies_count', 'retweets_count', 'likes_count', \
                          'hashtags', 'cashtags', 'neg', 'neu', 'pos', 'compound']]

In [5]:
tweets_filtered.sample(10)

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound
652483,2017-06-14,[],1,4,25,[],[],0.529,0.471,0.000,-0.8393
446707,2018-05-15,[],3,6,42,"['sharder', 'crypto', 'silentnotary', 'bitcoin']","['btc', 'sntr', 'ss']",0.037,0.927,0.037,0.0000
291276,2018-06-20,[],8,154,173,"['versarapedia', 'versaratrade', 'bitcoin', 'c...",[],0.040,0.903,0.057,0.1779
48600,2018-04-26,[],4,0,27,[],[],0.137,0.712,0.150,0.1280
780807,2018-10-22,[],6,9,34,[],"['linda', 'btc', 'eth', 'xrp', 'dgb', 'zil', '...",0.042,0.803,0.156,0.6249
426759,2018-01-22,"[{'screen_name': 'iotatoken', 'name': 'iota', ...",3,27,45,"['bitcoin', 'blockchain', 'blockchainweek']",[],0.000,1.000,0.000,0.0000
780252,2018-10-10,[],4,11,50,['blcockahin'],"['xrp', 'btc', 'eth']",0.000,0.963,0.037,0.3291
209978,2019-06-24,[],4,34,99,"['cindx', 'ieo', 'bitforex', 'sale', 'finance'...",[],0.000,0.934,0.066,0.3226
738999,2018-03-30,[],26,13,153,['litecoin'],['ltc'],0.109,0.891,0.000,-0.3252
755570,2020-05-06,[],26,24,162,[],[],0.000,0.863,0.137,0.8066

In [6]:
len(tweets_filtered)

824908

In [6]:
bitcoin_tweets = tweets_filtered[tweets_filtered["hashtags"].str.contains("dogecoin|doge", regex=True)]

In [7]:
len(bitcoin_tweets)

4602

In [8]:
bitcoin_tweets.head()

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound
66,2014-02-15,[],2,26,23,"['dogecoin', 'bitcoin']",[],0.121,0.879,0.000,-0.2960
125,2014-04-26,"[{'screen_name': 'jacksonpalmer', 'name': 'jac...",2,38,25,['dogeconsf'],[],0.000,1.000,0.000,0.0000
127,2014-04-29,"[{'screen_name': 'cryptsy', 'name': 'cryptsy',...",0,28,30,"['freshdesk', 'globalboost', 'bst', 'cryptocur...",[],0.000,0.834,0.166,0.4574
131,2014-05-01,[],0,15,18,"['translation', 'socialmedia', 'languages', 'c...",[],0.000,0.732,0.268,0.6705
133,2014-05-04,"[{'screen_name': 'nascar', 'name': 'nascar', '...",2,80,57,['dogecar'],[],0.000,0.743,0.257,0.5859

In [9]:
bitcoin_tweets["compound_times_retweets"] = bitcoin_tweets["compound"] * bitcoin_tweets["retweets_count"]
bitcoin_tweets["pos_times_retweets"] = bitcoin_tweets["pos"] * bitcoin_tweets["retweets_count"]
bitcoin_tweets["neg_times_retweets"] = bitcoin_tweets["neg"] * bitcoin_tweets["retweets_count"]

<ipython-input-9-9120c355358a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_tweets["compound_times_retweets"] = bitcoin_tweets["compound"] * bitcoin_tweets["retweets_count"]
<ipython-input-9-9120c355358a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_tweets["pos_times_retweets"] = bitcoin_tweets["pos"] * bitcoin_tweets["retweets_count"]
<ipython-input-9-9120c355358a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_tweets["neg_times_retweets"] = bitcoin_tweets["neg"] * bitcoin_tweets["retweets_count"]

In [10]:
bitcoin_tweets.head()

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound,compound_times_retweets,pos_times_retweets,neg_times_retweets
66,2014-02-15,[],2,26,23,"['dogecoin', 'bitcoin']",[],0.121,0.879,0.000,-0.2960,-7.6960,0.000,3.146
125,2014-04-26,"[{'screen_name': 'jacksonpalmer', 'name': 'jac...",2,38,25,['dogeconsf'],[],0.000,1.000,0.000,0.0000,0.0000,0.000,0.000
127,2014-04-29,"[{'screen_name': 'cryptsy', 'name': 'cryptsy',...",0,28,30,"['freshdesk', 'globalboost', 'bst', 'cryptocur...",[],0.000,0.834,0.166,0.4574,12.8072,4.648,0.000
131,2014-05-01,[],0,15,18,"['translation', 'socialmedia', 'languages', 'c...",[],0.000,0.732,0.268,0.6705,10.0575,4.020,0.000
133,2014-05-04,"[{'screen_name': 'nascar', 'name': 'nascar', '...",2,80,57,['dogecar'],[],0.000,0.743,0.257,0.5859,46.8720,20.560,0.000

In [11]:
bitcoin_pivot = bitcoin_tweets.pivot_table(index="date", \
                                           values=["cashtags", "replies_count", "retweets_count",\
                                                   "likes_count", "neg", "neu", "pos", "compound", \
                                                  "compound_times_retweets","pos_times_retweets", \
                                                   "neg_times_retweets"],
                                          aggfunc={"cashtags" : "count", "replies_count" : np.sum,\
                                                   "retweets_count": np.sum, "likes_count": np.sum,\
                                                   "neg": np.mean, "neu": np.mean, "pos": np.mean,\
                                                   "compound": np.mean,  "compound_times_retweets": np.sum,\
                                                   "pos_times_retweets": np.sum, "neg_times_retweets": np.sum})

In [12]:
bitcoin_pivot.rename(columns={'cashtags': "count"}, inplace=True)
bitcoin_pivot["pos_weighted"] = bitcoin_pivot["pos_times_retweets"] / bitcoin_pivot['retweets_count']
bitcoin_pivot["neg_weighted"] = bitcoin_pivot["neg_times_retweets"] / bitcoin_pivot['retweets_count']
bitcoin_pivot["compound_weighted"] = bitcoin_pivot["compound_times_retweets"] / bitcoin_pivot['retweets_count']

In [13]:
bitcoin_pivot.sample(10)

,count,compound,compound_times_retweets,likes_count,neg,neg_times_retweets,neu,pos,pos_times_retweets,replies_count,retweets_count,pos_weighted,neg_weighted,compound_weighted
date,,,,,,,,,,,,,,
2018-04-28,12,0.765433,370.1864,1084,0.000,0.000,0.816333,0.183667,92.560,88,468,0.197778,0.000,0.790997
2018-02-12,15,0.467460,1638.5112,3093,0.000,0.000,0.897000,0.103000,371.604,4519,2697,0.137784,0.000,0.607531
2018-12-19,5,0.751200,24.7632,123,0.000,0.000,0.783800,0.216200,7.053,3,33,0.213727,0.000,0.750400
2014-09-23,2,0.440400,128.5968,158,0.000,0.000,0.838000,0.162000,47.304,44,292,0.162000,0.000,0.440400
2020-05-07,7,0.685100,79.4716,280,0.056,6.496,0.772000,0.172000,19.952,28,116,0.172000,0.056,0.685100
2015-10-08,1,-0.128000,-1.9200,18,0.091,1.365,0.909000,0.000000,0.000,0,15,0.000000,0.091,-0.128000
2015-03-06,2,0.564750,7.8816,32,0.000,0.000,0.793000,0.207000,3.600,0,16,0.225000,0.000,0.492600
2018-02-14,5,0.564800,144.0240,249,0.061,15.555,0.799000,0.140000,35.700,294,255,0.140000,0.061,0.564800
2018-04-13,20,0.221000,239.7000,1796,0.000,0.000,0.947750,0.052250,56.073,340,824,0.068050,0.000,0.290898
2018-12-07,2,0.646700,20.6944,62,0.000,0.000,0.843000,0.157000,5.024,4,32,0.157000,0.000,0.646700

In [14]:
rolling_avg_col = ['count', 'replies_count', 'retweets_count', 'likes_count', 'compound_weighted', 'pos_weighted', 'neg_weighted']

In [15]:
for col in rolling_avg_col:
    bitcoin_pivot[f"{col}_avg7"] = bitcoin_pivot[col].rolling(7).mean()
    bitcoin_pivot[f'{col}_daily_diff'] = bitcoin_pivot[col] - bitcoin_pivot[col].shift(1)
    bitcoin_pivot[f'{col}_weekly_diff'] = bitcoin_pivot[col] - bitcoin_pivot[f"{col}_avg7"]

In [16]:
bitcoin_pivot.head(10)

,count,compound,compound_times_retweets,likes_count,neg,neg_times_retweets,neu,pos,pos_times_retweets,replies_count,...,likes_count_weekly_diff,compound_weighted_avg7,compound_weighted_daily_diff,compound_weighted_weekly_diff,pos_weighted_avg7,pos_weighted_daily_diff,pos_weighted_weekly_diff,neg_weighted_avg7,neg_weighted_daily_diff,neg_weighted_weekly_diff
date,,,,,,,,,,,,,,,,,,,,,
2014-02-15,2,-0.296000,-15.3920,46,0.121,6.292,0.879000,0.000000,0.000,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-17,1,0.000000,0.0000,11,0.000,0.000,1.000000,0.000000,0.000,2,...,NaN,NaN,0.29600,NaN,NaN,0.0000,NaN,NaN,-0.121,NaN
2014-04-26,2,0.000000,0.0000,50,0.000,0.000,1.000000,0.000000,0.000,4,...,NaN,NaN,0.00000,NaN,NaN,0.0000,NaN,NaN,0.000,NaN
2014-04-27,1,0.000000,0.0000,20,0.000,0.000,1.000000,0.000000,0.000,0,...,NaN,NaN,0.00000,NaN,NaN,0.0000,NaN,NaN,0.000,NaN
2014-04-29,2,0.457400,25.6144,60,0.000,0.000,0.834000,0.166000,9.296,0,...,NaN,NaN,0.45740,NaN,NaN,0.1660,NaN,NaN,0.000,NaN
2014-05-01,2,0.670500,20.1150,36,0.000,0.000,0.732000,0.268000,8.040,0,...,NaN,NaN,0.21310,NaN,NaN,0.1020,NaN,NaN,0.000,NaN
2014-05-04,2,0.585900,93.7440,114,0.000,0.000,0.743000,0.257000,41.120,4,...,65.857143,0.202543,-0.08460,0.383357,0.098714,-0.0110,0.158286,0.017286,0.000,-0.017286
2014-05-05,1,0.000000,0.0000,17,0.000,0.000,1.000000,0.000000,0.000,2,...,-27.000000,0.244829,-0.58590,-0.244829,0.098714,-0.2570,-0.098714,0.000000,0.000,0.000000
2014-05-16,2,0.790600,56.9232,62,0.000,0.000,0.731000,0.269000,19.368,12,...,10.714286,0.357771,0.79060,0.432829,0.137143,0.2690,0.131857,0.000000,0.000,0.000000
2014-05-17,3,0.609067,16.4448,81,0.000,0.000,0.657333,0.342667,9.252,0,...,25.285714,0.416503,-0.37948,-0.005383,0.170186,-0.0377,0.061114,0.000000,0.000,0.000000

In [18]:
bitcoin_pivot.to_csv("../data/dogecoin_daily_tweets.csv")