In [22]:
import pandas as pd
import numpy as np

In [3]:
# This dataset is not included in github and can be found here: 
# https://www.kaggle.com/datasets/fabioturazzi/cryptocurrency-tweets-with-sentiment-analysis
tweets = pd.read_csv("tweets_sentiment.csv")

/Users/davidhackett/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
tweets.dtypes

Unnamed: 0           int64
id                 float64
conversation_id    float64
created_at          object
date                object
time                object
timezone             int64
user_id            float64
username            object
name                object
place               object
tweet               object
language            object
mentions            object
urls                object
photos              object
replies_count        int64
retweets_count       int64
likes_count          int64
hashtags            object
cashtags            object
link                object
retweet               bool
quote_url           object
video                int64
thumbnail           object
near               float64
geo                float64
source             float64
user_rt_id         float64
user_rt            float64
retweet_id         float64
reply_to            object
retweet_date       float64
translate          float64
trans_src          float64
trans_dest         float64
search              object
decoded_tweet       object
neg                float64
neu                float64
pos                float64
compound           float64
dtype: object

In [9]:
tweets_filtered = tweets[['date', 'mentions', 'replies_count', 'retweets_count', 'likes_count', \
                          'hashtags', 'cashtags', 'neg', 'neu', 'pos', 'compound']]

In [11]:
tweets_filtered.sample(10)

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound
811169,2020-07-27,[],2,7,31,"['bitcoin', 'btc', 'crypto', 'cryptocurrency',...",[],0.000,1.000,0.000,0.0000
609787,2020-12-31,[],8,42,172,[],[],0.000,0.824,0.176,0.8481
649355,2016-03-09,"[{'screen_name': 'consensysllc', 'name': 'cons...",0,7,13,"['fintech', 'eth', 'ethereum', 'indiedev', 'de...",[],0.000,1.000,0.000,0.0000
810544,2020-07-11,[],3,2,19,"['xrp', '0doubt', 'hodl']",[],0.000,0.931,0.069,0.4404
481399,2019-02-07,[],2,6,41,[],[],0.000,0.825,0.175,0.7430
713111,2019-07-13,[],19,46,157,"['xrp', 'xrpcommunity', 'btc', 'bitcoin', 'eth']",[],0.038,0.842,0.120,0.6249
545646,2020-03-22,[],11,4,66,"['bitcoin', 'btc', 'crypto', 'investing']",[],0.000,0.724,0.276,0.6369
308431,2018-10-29,"[{'screen_name': 'cz_binance', 'name': 'cz ðŸ”...",0,1,27,"['forbes', 'cryptocurrency', 'blockchain']",[],0.000,0.747,0.253,0.8800
199364,2018-11-19,"[{'screen_name': 'paccoinofficial', 'name': 'p...",5,16,49,"['crypto', 'bitcoin', 'blockchain', 'cryptocur...",['pac'],0.039,0.855,0.105,0.4588
350057,2020-05-01,"[{'screen_name': 'changeangel_io', 'name': 'ch...",4,14,44,"['crypto', 'digibyte', 'history']",[],0.000,0.850,0.150,0.6476

In [12]:
len(tweets_filtered)

824908

In [19]:
bitcoin_tweets = tweets_filtered[tweets_filtered["hashtags"].str.contains("bitcoin|btc", regex=True)]

In [20]:
len(bitcoin_tweets)

294562

In [31]:
bitcoin_tweets.head()

,date,mentions,replies_count,retweets_count,likes_count,hashtags,cashtags,neg,neu,pos,compound
2,2013-04-14,[],15,153,61,['bitcoin'],[],0.000,1.000,0.000,0.0000
24,2014-01-02,"[{'screen_name': 'kanyewest', 'name': 'ye', 'i...",12,76,44,['bitcoin'],[],0.000,1.000,0.000,0.0000
59,2014-02-05,"[{'screen_name': 'brianeha', 'name': 'brian pa...",4,38,24,['bitcoin'],[],0.000,1.000,0.000,0.0000
66,2014-02-15,[],2,26,23,"['dogecoin', 'bitcoin']",[],0.121,0.879,0.000,-0.2960
75,2014-02-25,"[{'screen_name': 'fart', 'name': 'food truck d...",5,34,38,"['bitcoin', 'cryptocurrency']",[],0.176,0.707,0.116,-0.2942

In [32]:
bitcoin_pivot = bitcoin_tweets.pivot_table(index="date", \
                                           values=["cashtags", "replies_count", "retweets_count",\
                                                   "likes_count", "neg", "neu", "pos", "compound"],
                                          aggfunc={"cashtags" : "count", "replies_count" : np.sum,\
                                                   "retweets_count": np.sum, "likes_count": np.sum,\
                                                   "neg": np.mean, "neu": np.mean, "pos": np.mean,\
                                                   "compound": np.mean})

In [34]:
bitcoin_pivot.rename(columns={'cashtags': "count"})

,count,compound,likes_count,neg,neu,pos,replies_count,retweets_count
date,,,,,,,,
2013-02-26,1,0.238200,32,0.000000,0.902000,0.098000,2,110
2013-04-14,3,0.000000,183,0.000000,1.000000,0.000000,45,461
2013-06-04,1,0.421500,27,0.000000,0.823000,0.177000,8,66
2013-06-30,1,0.616600,62,0.000000,0.808000,0.192000,0,200
2013-08-11,1,-0.077200,17,0.071000,0.929000,0.000000,2,125
...,...,...,...,...,...,...,...,...
2021-02-06,582,0.189136,105175,0.047182,0.853163,0.099663,7129,20494
2021-02-07,563,0.261950,87082,0.036819,0.862048,0.101131,7125,23835
2021-02-08,1690,0.249462,428043,0.033008,0.867762,0.099234,37228,74727
2021-02-09,971,0.271961,173991,0.032947,0.862919,0.104119,15491,33022
2021-02-10,830,0.252858,128706,0.034853,0.867106,0.098033,12009,28940

In [35]:
bitcoin_pivot.head()

,cashtags,compound,likes_count,neg,neu,pos,replies_count,retweets_count
date,,,,,,,,
2013-02-26,1,0.2382,32,0.000,0.902,0.098,2,110
2013-04-14,3,0.0000,183,0.000,1.000,0.000,45,461
2013-06-04,1,0.4215,27,0.000,0.823,0.177,8,66
2013-06-30,1,0.6166,62,0.000,0.808,0.192,0,200
2013-08-11,1,-0.0772,17,0.071,0.929,0.000,2,125

In [37]:
bitcoin_pivot.to_csv("../data/bitcoin_daily_tweets.csv")