In [67]:
import pandas as pd
import numpy as np

In [68]:
dogecoin = pd.read_csv("../data/doge_daily_modified.csv")

In [69]:
dogecoin.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os
0,0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2014-09-20,0.0003,0.0003,0.0003,0.0003,0.0003,"993,004",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN
4,4,2014-09-21,0.0003,0.0003,0.0003,0.0003,0.0003,"539,140",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN

In [70]:
dogecoin = dogecoin.drop(columns=['Unnamed: 0'])
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,PROC_3,PROC_5,PROC_10,wpr,sto_os
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-20,0.0003,0.0003,0.0003,0.0003,0.0003,"993,004",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN
4,2014-09-21,0.0003,0.0003,0.0003,0.0003,0.0003,"539,140",0.0,0,NaN,0.0,NaN,NaN,NaN,NaN

In [71]:
# Create a daily change percent
dogecoin['Daily_Change_Perc'] = dogecoin["Daily_Change"] / dogecoin["Open"]

In [72]:
# Re-add gold
gold = pd.read_csv("../data/gold_modified.csv")
gold['Daily_Change'] = gold["Close/Last"] - gold["Open"]
gold['Daily_Change_Perc'] = gold["Daily_Change"] / gold["Open"]
gold["Increased"] = np.where(gold["Daily_Change"] > 0, 1, 0)
# Get date in right format for merge
gold["Date"] = pd.to_datetime(gold["Date"]).dt.strftime('%Y-%m-%d')
gold_needed_columns = gold[["Date", "Close/Last", "Open", "Daily_Change", "Daily_Change_Perc", "Increased"]]

In [73]:
# Merge Gold Columns Back in
dogecoin = dogecoin.merge(gold_needed_columns, on="Date", suffixes=("", "_Gold"))

In [74]:
# Re-add sp500
sp500 = pd.read_csv("../data/sp_500.csv")
sp500['Daily_Change'] = sp500["Close/Last"] - sp500["Open"]
sp500['Daily_Change_Perc'] = sp500["Daily_Change"] / sp500["Open"]
sp500["Increased"] = np.where(sp500["Daily_Change"] > 0, 1, 0)
# Get date in right format for merge
sp500["Date"] = pd.to_datetime(sp500["Date"]).dt.strftime('%Y-%m-%d')
sp_needed_columns = sp500[["Date", "Close/Last", "Open", "Daily_Change", "Daily_Change_Perc", "Increased"]]

In [75]:
dogecoin = dogecoin.merge(sp_needed_columns, on="Date", suffixes=("", "_SP500"))

In [76]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,...,Close/Last,Open_Gold,Daily_Change_Gold,Daily_Change_Perc_Gold,Increased,Close/Last_SP500,Open_SP500,Daily_Change_SP500,Daily_Change_Perc_SP500,Increased_SP500
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,...,1235.9,1235.3,0.6,0.000486,1,2001.57,1999.30,2.27,0.001135,1
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,...,1226.9,1223.1,3.8,0.003107,1,2011.36,2003.07,8.29,0.004139,1
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,...,1216.6,1225.6,-9.0,-0.007343,0,2010.40,2012.74,-2.34,-0.001163,0
3,2014-09-22,0.0003,0.0003,0.0003,0.0003,0.0003,"620,222",0.0,0,NaN,...,1217.9,1216.4,1.5,0.001233,1,1994.29,2009.08,-14.79,-0.007362,0
4,2014-09-23,0.0003,0.0003,0.0003,0.0003,0.0003,"739,197",0.0,0,NaN,...,1222.0,1214.9,7.1,0.005844,1,1982.77,1992.78,-10.01,-0.005023,0

In [77]:
dogecoin = dogecoin.rename(columns={'Close/Last': 'Close/Last_Gold', 'Increased': "Increased_Gold"})

In [78]:
# set y label
dogecoin["label"] = dogecoin["Daily_Change_Ind"].shift(1)

In [79]:
tweets = pd.read_csv('../data/dogecoin_daily_tweets.csv')

In [80]:
tweets.head()

,date,count,compound,neg,neu,pos,retweets_count,likes_count,replies_count,compound_weighted_replies,compound_weighted_likes,compound_weighted_retweets
0,2014-02-15,2,-0.2960,0.121,0.879,0.000,52,46,4,-0.296,-0.2960,-0.2960
1,2014-04-17,1,0.0000,0.000,1.000,0.000,3,11,2,0.000,0.0000,0.0000
2,2014-04-26,2,0.0000,0.000,1.000,0.000,77,50,4,0.000,0.0000,0.0000
3,2014-04-27,1,0.0000,0.000,1.000,0.000,12,20,0,NaN,0.0000,0.0000
4,2014-04-29,2,0.4574,0.000,0.834,0.166,56,60,0,NaN,0.4574,0.4574

In [81]:
tweets = tweets.fillna(0)
tweets = tweets.rename(columns={'date': 'Date'})

In [82]:
dogecoin = pd.merge(dogecoin, tweets, on="Date", how='left', suffixes=("", ""))

In [83]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,...,compound,neg,neu,pos,retweets_count,likes_count,replies_count,compound_weighted_replies,compound_weighted_likes,compound_weighted_retweets
0,2014-09-17,0.0003,0.0003,0.0003,0.0003,0.0003,"1,463,600",0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,0.0003,0.0003,0.0003,0.0003,0.0003,"2,215,910",0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-19,0.0003,0.0003,0.0003,0.0003,0.0003,"883,563",0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-22,0.0003,0.0003,0.0003,0.0003,0.0003,"620,222",0.0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-09-23,0.0003,0.0003,0.0003,0.0003,0.0003,"739,197",0.0,0,NaN,...,0.4404,0.0,0.838,0.162,292.0,158.0,44.0,0.4404,0.4404,0.4404

In [84]:
for (columnName, columnData) in dogecoin.iteritems():
    print('Column Name : ', columnName)
    print('Any NAs : ', columnData.isnull().any())
    try:
        print('Any INFs:', np.isinf(columnData).any())
    except:
        print("Couldn't check")

Column Name :  Date
Any NAs :  False
Couldn't check
Column Name :  Open
Any NAs :  False
Any INFs: False
Column Name :  High
Any NAs :  False
Any INFs: False
Column Name :  Low
Any NAs :  False
Any INFs: False
Column Name :  Close
Any NAs :  False
Any INFs: False
Column Name :  Adj Close**
Any NAs :  False
Any INFs: False
Column Name :  Volume
Any NAs :  False
Couldn't check
Column Name :  Daily_Change
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Ind
Any NAs :  False
Any INFs: False
Column Name :  MACD
Any NAs :  True
Any INFs: False
Column Name :  PROC_3
Any NAs :  True
Any INFs: False
Column Name :  PROC_5
Any NAs :  True
Any INFs: False
Column Name :  PROC_10
Any NAs :  True
Any INFs: False
Column Name :  wpr
Any NAs :  True
Any INFs: False
Column Name :  sto_os
Any NAs :  True
Any INFs: False
Column Name :  Daily_Change_Perc
Any NAs :  False
Any INFs: False
Column Name :  Close/Last_Gold
Any NAs :  False
Any INFs: False
Column Name :  Open_Gold
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Gold
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Perc_Gold
Any NAs :  False
Any INFs: False
Column Name :  Increased_Gold
Any NAs :  False
Any INFs: False
Column Name :  Close/Last_SP500
Any NAs :  False
Any INFs: False
Column Name :  Open_SP500
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_SP500
Any NAs :  False
Any INFs: False
Column Name :  Daily_Change_Perc_SP500
Any NAs :  False
Any INFs: True
Column Name :  Increased_SP500
Any NAs :  False
Any INFs: False
Column Name :  label
Any NAs :  True
Any INFs: False
Column Name :  count
Any NAs :  True
Any INFs: False
Column Name :  compound
Any NAs :  True
Any INFs: False
Column Name :  neg
Any NAs :  True
Any INFs: False
Column Name :  neu
Any NAs :  True
Any INFs: False
Column Name :  pos
Any NAs :  True
Any INFs: False
Column Name :  retweets_count
Any NAs :  True
Any INFs: False
Column Name :  likes_count
Any NAs :  True
Any INFs: False
Column Name :  replies_count
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted_replies
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted_likes
Any NAs :  True
Any INFs: False
Column Name :  compound_weighted_retweets
Any NAs :  True
Any INFs: False

In [85]:
dogecoin['compound_weighted_replies'] = dogecoin['compound_weighted_replies'].fillna(0)
dogecoin['compound_weighted_retweets'] = dogecoin['compound_weighted_retweets'].fillna(0)
dogecoin['compound_weighted_likes'] = dogecoin['compound_weighted_likes'].fillna(0)
dogecoin['compound'] = dogecoin['compound'].fillna(0)
dogecoin['retweets_count'] = dogecoin['retweets_count'].fillna(0)
dogecoin['likes_count'] = dogecoin['likes_count'].fillna(0)
dogecoin['replies_count'] = dogecoin['replies_count'].fillna(0)
dogecoin['neg'] = dogecoin['neg'].fillna(0)
dogecoin['pos'] = dogecoin['pos'].fillna(0)
dogecoin['neu'] = dogecoin['neu'].fillna(0)
dogecoin['count'] = dogecoin['count'].fillna(0)

In [86]:
dogecoin['label'].isnull().sum()

1

In [87]:
print(len(dogecoin))
dogecoin = dogecoin.dropna()
print(len(dogecoin))

1667
1649

In [88]:
np.isinf(dogecoin['Daily_Change_Perc_SP500']).sum()

11

In [89]:
#Dump the inf
dogecoin = dogecoin[np.isinf(dogecoin['Daily_Change_Perc_SP500']) == False]

In [98]:
trends = pd.read_csv("../data/dogecoin_google_trends.csv")

In [99]:
trends = trends.drop(columns=['isPartial']).rename(columns={'dogecoin': 'goog_trend', 'date': 'Date'})
trends.head()

         Date  goog_trend
0  2014-01-01          26
1  2014-01-02          27
2  2014-01-03          30
3  2014-01-04          22
4  2014-01-05          25

In [100]:
dogecoin = dogecoin.merge(trends, on='Date')

In [101]:
dogecoin.head()

,Date,Open,High,Low,Close,Adj Close**,Volume,Daily_Change,Daily_Change_Ind,MACD,...,neg,neu,pos,retweets_count,likes_count,replies_count,compound_weighted_replies,compound_weighted_likes,compound_weighted_retweets,goog_trend
0,2014-10-13,0.0003,0.0003,0.0003,0.0003,0.0003,"412,929",0.0,0,-0.000020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53
1,2014-10-14,0.0003,0.0003,0.0003,0.0003,0.0003,"543,227",0.0,0,-0.000019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65
2,2014-10-15,0.0003,0.0003,0.0003,0.0003,0.0003,"815,956",0.0,0,-0.000018,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67
3,2014-10-16,0.0003,0.0003,0.0003,0.0003,0.0003,"365,533",0.0,0,-0.000017,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48
4,2014-10-17,0.0003,0.0003,0.0002,0.0003,0.0003,"330,041",0.0,0,-0.000016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65

In [102]:
# Train - Test Split
from sklearn.model_selection import train_test_split
random_state = 12345

train_set, test_set = train_test_split(dogecoin, test_size=0.2, random_state=random_state)

In [103]:
len(train_set)

1310

In [104]:
len(test_set)

328

In [106]:
train_set.to_csv("../models/dogecoin_train.csv")
test_set.to_csv("../models/dogecoin_test.csv")